@model IEnumerable<ApiDemoNegocio.Banco.Pessoa>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomePessoa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdadePessoa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomePessoa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdadePessoa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PessoaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PessoaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PessoaId })
        </td>
    </tr>
}

</table>
